<!--To Edit a Game-->
<% layout('layouts/boilerplate') %>
<h1>Edit the Game</h1>
<form action="/players/<%=player._id%>/games/<%=game._id%>?_method=PUT" method="POST">
    <div>
        <label for="points">Points</label>
        <input type="number" id="points" name="game[points]" value="<%=game.points%>">
    </div>
    <div>
        <label for="assists">Assists</label>
        <input type="number" id="assists" name="game[assists]" value="<%=game.assists%>">
    </div>
    <div>
        <label for="rebounds">Rebounds</label>
        <input type="number" id="rebounds" name="game[rebounds]" value="<%=game.rebounds%>">
    </div>
    <div>
        <label for="steals">Steals</label>
        <input type="number" id="steals" name="game[steals]" value="<%=game.steals%>">
    </div>
    <div>
        <label for="blocks">Blocks</label>
        <input type="number" id="blocks" name="game[blocks]" value="<%=game.blocks%>">
    </div>
    <div>
        <label for="turnovers">Turnovers</label>
        <input type="number" id="turnovers" name="game[turnovers]" value="<%=game.turnovers%>">
    </div>
    <div>
        <label for="fga">Field Goals Attemped</label>
        <input type="number" id="fga" name="game[fga]" value="<%=game.fga%>">
    </div>
    <div>
        <label for="fgm">Field Goals Made</label>
        <input type="number" id="fgm" name="game[fgm]" value="<%=game.fgm%>">
    </div>
    <div>
        <label for="tpa">Threes Attemped</label>
        <input type="number" id="tpa" name="game[tpa]" value="<%=game.tpa%>">
    </div>
    <div>
        <label for="tpm">Threes Made</label>
        <input type="number" id="tpm" name="game[tpm]" value="<%=game.tpm%>">
    </div>
    <button>Update game</button>
</form>    

<!--
<form method="post" action="/players/<%=player._id%>/edit?_method=PATCH" >
    <button class="btn btn-danger">Delete Player</button>
</form>
-->

<div>
    <a href="/players/<%= player._id%>" class="btn btn-primary">Back to Player </a>  
</div>